.navbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    background-color: #444444;
}

/* .a-main-nav,
.a-main-nav :active,
.a-main-nav :visited {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}

.a-main-nav :hover {
    color: red;
} */

.a-main-nav {
    background-image: linear-gradient(to right,
            #46dcd1,
            #46dcd1 50%,
            rgb(255, 255, 255) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.a-main-nav:before {
    content: '';
    background: #46dcd1;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.a-main-nav:hover {
    background-position: 0;
}

.a-main-nav:hover::before {
    width: 100%;
}

.logo-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.log-section {
    display: flex;
    flex-direction: row;
}

.li-separator {
    font-size: 8px;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
}

.li-nav-item {
    margin-left: 5%;
    margin-right: 5%;
}

.log-section {
    padding-right: 15px;
}

.log-btn {
    margin: 8px 5px 8px 5px;
    background-color: #46dcd1;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Mono';
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.log-btn-hover {
    background-color: white;
    color: black;
}

.log-btn-hover:hover {
    background-color: #46dcd1;
    color: white;
}

#brand {
    font-size: 22px;
    color: whitesmoke;
}

#navigation-links {
    justify-content: space-between;
    align-items: center;
}

#main-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

#logo {
    width: 50px;
    height: 50px;
    margin: 3px 12px 3px 12px;
}